html,
body {
  padding: 0;
  margin: 0;
}

#nprogress {
  z-index: 2000;
}

@media (max-width: 575.98px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
}
